body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.top-container {
    border: 1px solid green;
    text-align: right;
}
ul {
    display: inline-block;
    padding: 10px;
    border: 1px solid green;
}
.top-container #menu li {
    display: inline-block;
    /* border: 1px dashed black; */
    padding: 5px 20px;
    cursor: pointer;
}
.top-container #menu li[selected] {
    background-color: rgb(222, 237, 242);
}

.filter-input::after {
    content: 'x'
}
.test::after {
    content: '111';
}

table {
    width: 100%;
}

th[colspan] {
    border-bottom: 1px solid black;
    text-align: center;
}

tbody tr:nth-child(2n+1) {
    background-color: rgb(232, 241, 245);
}

th, td {
    text-align: left;
    padding: 0.5em;
    /* border: 1px solid gray; */
}
td.btns-td {
    text-align: right;
}
td.btns-td button {
    padding: 0.1em 0.5em;
    font-size: 1.5em;
    font-weight: bold;
}


.main-container .panel {
    border: 1px solid red;
    margin-bottom: 1em;
    display: none;
}
.main-container .panel[open] {
    display: block;
}

.panel-title {
    float: left;
    margin-left: 1em;
}

.add-btn-container {
    text-align: right;
}
.panel-add-btn {
    margin: 1em;
}

.overlay {
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.2;
}

.popup {
    display: none;
    position: absolute;
    border-radius: 0.5em;
    background-color: white;
    box-shadow: 0em 0em 1em gray;
}
.popup .popup-title {
    display: inline-block;
    font-size: 1.5em;
    margin: 1em 0em 0em 1em;
    color: rgb(9 122 182);
}
.popup .close-btn, .remove-charge-btn {
    float: right;
    background: none;
    cursor: pointer;
    font-family: inherit;
    font-size: 2em;
    font-weight: bold;
    border: none;
    color: rgb(72, 184, 244);
}
.popup input, .popup select {
    width: 15em;
}
.popup input[type="radio"] {
    width: 2em !important;
    margin-bottom: 1.5em;
}
#tx-form-popup label.type-radio-label {
    /* border: 1px solid green; */
    border-radius: 0.5em;
    padding: 0em 0em 0em 0.5em;
    display: inline-block;
    width: 150px;
    height: 30px;
    padding-top: 5px;
}
#tx-form-popup label.type-radio-label.checked {
    background: rgb(223, 237, 255);
}
.popup textarea {
    width: 24em;
}
.popup .btn-container {
    text-align: right;
}


.custom-btn-1 {
    background: none;
    border: 2px solid rgb(72, 184, 244);
    border-radius: 0.5em;
    padding: 0.5em 1em;
    cursor: pointer;
    font-family: inherit;
    font-size: 1em;
}

.custom-input-label-1 {
    display: inline-block;
}
.custom-input-1 {
    margin-bottom: 1em;
    border: 1px solid black;
    border-radius: 0.2em;
    height: 2em;
    font-size: 1em;
    padding-left: 0.5em;
    outline: none;
}
textarea.custom-input-1 {
    height: 5em;
}
.custom-input-1[disabled] {
    border: none;
    background: rgb(237, 234, 223);
}


#confirmation-popup, #alert-popup {
    width: 400px;
    padding: 1.5em;
}
#confirmation-popup .confirm-message,
#alert-popup .alert-message {
    display: inline-block;
    margin-bottom: 1em;
}


#partner-form-popup div.form {
    width: 350px;
    padding: 1.5em;
}
#partner-form-popup label {
    width: 50px;
}
#partner-form-popup input, #partner-form-popup select {
    width: 15em;
}

#tx-form-popup div.form,
#ar-form-popup div.form,
#payment-form-popup div.form {
    width: 345px;
    padding: 1.5em;
}
#tx-form-popup label,
#ar-form-popup label {
    width: 70px;
}
#ar-form-popup input, #ar-form-popup select,
#tx-form-popup input, #tx-form-popup select {
    width: 18em;
}


.charge-container {
    margin-top: 1em;
    /* border-color: rgb(155, 240, 255);
    border-style: dashed;
    border-width: 0px 0px 2px 0px; */
    background: rgb(223, 237, 255);
    border-radius: 0.5em;
    padding: 1em;
}
.charge-container input {
    width: 15em;
}

#ar-panel table tr.paid {
    background: rgb(211, 255, 211);
}
#ar-panel table tr.pending {
    background: white;
}
#ar-panel table tr.expired {
    background: rgb(255, 188, 188);
}